#[link(name = "test_omath",
       vers = "0.1",
       author = "Brendan Zabarauskas")];

#[comment = "Unittests for omath"];
#[crate_type = "unittests"];

use std;
use omath;

mod test_mat;
mod test_math;
mod test_projection;
mod test_quat;
mod test_vec;