#[link(name = "lmath",
       vers = "0.1",
       uuid = "A2DEEB53-EB35-4B44-B247-9044B57E3BA5",
       author = "Brendan Zabarauskas",
       url = "https://github.com/bjz/lmath-rs")];

#[comment = "A generic linear algebra library."];
#[license = "APL2"];
#[crate_type = "lib"];

extern mod std;

pub mod matrix;
pub mod quaternion;
pub mod vector;

#[test]
mod test {
    mod test_matrix;
    mod test_quaternion;
    mod test_vector;
}

use common::*;
pub mod common {
    pub mod math;
    pub mod ncast;
    pub mod ntrait;
}

pub mod funs {
  pub mod boolv;
  pub mod common;
  pub mod exp;
  pub mod projection;
  pub mod relv;
  pub mod transform;
  pub mod trig;
  
  #[test]
  mod test {
    mod test_boolv;
    mod test_transform;
  }
}