#[link(name = "lmath",
       vers = "0.1",
       author = "Brendan Zabarauskas",
       url = "https://github.com/bjz/llama-rs")];

#[comment = "A generic linear algebra library."];
#[license = "APL2"];
#[crate_type = "lib"];

extern mod std;

pub mod matrix;
pub mod projection;
pub mod quaternion;
pub mod vector;

use common::*;
pub mod common {
    pub mod math;
    pub mod ncast;
    pub mod ntrait;
}

#[test]
pub mod test {
    pub mod test_matrix;
    pub mod test_math;
    pub mod test_projection;
    pub mod test_quaternion;
    pub mod test_vector;
}