#[link(name = "lmath",
       vers = "0.1",
       uuid = "A2DEEB53-EB35-4B44-B247-9044B57E3BA5",
       author = "Brendan Zabarauskas",
       url = "https://github.com/bjz/lmath-rs")];

#[comment = "A generic linear algebra library."];
#[license = "ASL2"];
#[crate_type = "lib"];

extern mod std;
extern mod numeric;

pub mod gltypes;
pub mod mat;
pub mod quat;
pub mod vec;

#[test]
mod test {
    mod test_gltypes;
    mod test_mat;
    mod test_quat;
    mod test_vec;
}

pub mod funs {
    pub mod common;
    pub mod exponential;
    pub mod projection;
    pub mod triganomic;
    
    #[test]
    mod test {
        // #[path = "funs/test/test_common.rs"]
        // mod test_common;
    }
}
