#[link(name = "omath",
       vers = "0.1",
       author = "Brendan Zabarauskas")];

#[comment = "Linear algebra library for Rust. Incomplete and probably buggy."];
#[crate_type = "lib"];

extern mod std;

pub mod matrix;
pub mod math;
pub mod num_util;
pub mod projection;
pub mod quaternion;
pub mod vector;

#[test]
pub mod test {
    pub mod test_matrix;
    pub mod test_math;
    pub mod test_projection;
    pub mod test_quaternion;
    pub mod test_vector;
}