#[link(name = "omath",
       vers = "0.1",
       author = "Brendan Zabarauskas")];

#[comment = "Linear algebra library for Rust. Incomplete and probably buggy."];
#[crate_type = "lib"];

extern mod std;

pub mod mat;
pub mod math;
pub mod projection;
pub mod quat;
pub mod vec;